/* CSS declarations go here */

@import '../imports/ui/constants';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.gray {
  color: #dadfea;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  height: $header-height;
  background-color: $main-blue-color;
}

.footer {
  background-color: #f0f2f6;
  height: $footer-height;
  position: fixed;
  bottom: 0px;
  margin: 0px;
  border: none;
  padding: 0px;  
}
