/* CSS declarations go here */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

.side-menu {
  height: 100vh;
  background-color: aqua;
  width: 550px;
}
