@import '../constants';

.add-chat {
  color: $chat-light-gray-color;
  text-align: center;

  &__wrapper {
    border: 8 / 2160 * 100vh solid;
    height: 110 / 2160 * 100vh;
    width: 110 / 2160 * 100vh;
    border-radius: 50%;
    display: inline-block;
    line-height: 110 / 2160 * 100vh;
    margin-top: 50 / 2160 * 100vh;

    i {
      vertical-align: sub;
    }
  }

  &__label {
    color: $chat-gray-color;
    margin-top: 20 / 2160 * 100vh;
    display: block;
  }
}
