.badge {
  display: inline-block;
  position: absolute;
  top: 0.2rem;
  right: -0.15rem;
  background-color: #f77760;
  border-radius: 50%;
  text-align: center;
  width: 25 / 3200 * 100vw;
  height: 25 / 3200 * 100vw;
  font-size: xx-small;
}
