.raised-button {
  position: relative;

  display: inline-block;
  padding: 0;
  padding-left: 30 / 3200 * 100vw;
  padding-right: 30 / 3200 * 100vw;

  border-width: 0;
  // outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  // background-color: #2ecc71;
  // color: #ecf0f1;
  
  transition: background-color .3s;
  cursor: pointer;

  height: 80 / 2160 * 100vh;
  // min-width: 250 / 3200 * 100vw;


  & > span {
    display: inline-block;
    // height: 80 / 2160 * 100vh;
    // line-height: 80 / 2160 * 100vh;
    vertical-align: super;    
    // margin: 0 30 / 3200 * 100vw 0 30 / 3200 * 100vw;
  }

  & > i {
    margin-left: 20 / 3200 * 100vw;
    // margin: 0 20 / 3200 * 100vw 0 20 / 3200 * 100vw;
    // height: 80 / 2160 * 100vh;
    // line-height: 80 / 2160 * 100vh;
  }
}

// .btn:hover, .btn:focus {
//   background-color: #27ae60;
// }

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
