@import '../constants';

* {
  box-sizing: border-box;
}

.stresser-default {
  transition-property: left, width;
  transition-duration: 0.5s;
  height: 4px;
  position: relative;
  left: 0px;
}

.tab {
  display: inline-block;
  height: 100%;
  padding: 30 / 2160 * 100vh 20 / 3200 * 100vw;
  cursor: pointer;
}
