$priority-medium-color: #5da6ff;
$priority-low-color: #55d1a4;

$margin-right: 30 / 3200 * 100vw;
$border-radius-detail: 5px;

$task-padding-top: 50 / 2160 * 100vh;
$task-padding-right: 70 / 3200 * 100vw;
$task-padding-bottom: 50 / 2160 * 100vh;

.task {
  display: block;
  position: relative;
  padding: $task-padding-top $task-padding-right $task-padding-bottom 0;
  box-sizing: border-box;
  border-left: 8 / 3200 * 100vw solid gray;
  margin-bottom: 5px;
  background-color: white;

  &__priority_medium {
    border-color: $priority-medium-color;
  }

  &__priority_low {
    border-color: $priority-low-color;
  }

  &__more {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 130 / 3200 * 100vw;
    text-align: center;
  }

  &__content {
    display: inline-block;
    height: 100%;
    margin-left: 130 / 3200 * 100vw;
    margin-right: 28%;
  }

  &__title {
    display: inline-block;
    margin: 0px;
    margin-top: 10 / 2160 * 100vh;
    margin-bottom: 10 / 2160 * 100vh;
    color: black;
  }

  &__flag {
    display: inline-block;
    background-color: gray;
    border-radius: $border-radius-detail;
    padding: 15 / 2160 * 100vh;
    margin-right: $margin-right;
    color: white;
    box-sizing: border-box;

    &_priority {
      &_medium {
        background-color: $priority-medium-color;
      }
      &_low {
        background-color: $priority-low-color;
      }
    }
  }

  &__avatar {
    box-sizing: border-box;
    display: inline-block;
    margin-right: $margin-right;
    width: 85 / 2160 * 100vh;
    height: 85 / 2160 * 100vh;
    vertical-align: bottom;
    border-radius: $border-radius-detail;
    background-color: gray;
  }

  &__icon-button span.material-icons {
    color: white;
    background-color: $priority-medium-color;
    border-radius: 50%;
  }

  &__details {
    display: inline-block;
    white-space: normal;
  }

  &__point {
    display: inline-block;
    width: 8 / 2160 * 100vh;
    height: 8 / 2160 * 100vh;
    border: 4px solid white;
    border-radius: 100%;
    margin-bottom: 0.1rem;
    margin-right: 0.2rem;
  }

  &__detail {
    display: inline-block;
    margin-right: $margin-right;
    padding-top: 5px;

    &:last-child {
      margin: 0px;
    }
  }

  &__log-data {
    position: absolute;
    right: $task-padding-right;
    bottom: $task-padding-bottom;
  }
}

.log-data {
  display: inline-block;

  &__block {
    display: inline-block;

    &_get-higer_0-7-rem {
      position: relative;
      bottom: 0.7rem;
    }

    &_get-lower_0-2-rem {
      position: relative;
      bottom: -o.2rem;
    }

    &:last-child {
      margin-left: 50 / 3200 * 100vw;
    }
  }

  &__logged {
    display: inline-block;
    margin-bottom: 20 / 2160 * 100vh;
  }

  &__bar {
    width: 150 / 3200 * 100vw;
  }
}
