$content-width: 2650 / 3200 * 100vw;

$side-menu-width: 550 / 3200 * 100vw;
$side-menu-height: (2160 - 250) / 2160 * 100vh;

$side-menu-header-padding-top: 60 / 2160 * 100vh;
$side-menu-header-padding-left: 40 / 3200 * 100vw;

$header-height: 250 / 2160 * 100vh;
$header-padding-top: 100 / 2160 * 100vh;

$chat-height: (2160 - 245) / 2160 * 100vh;
$chat-width: 160 / 3200 * 100vw;

$footer-height: 160 / 2160 * 100vh;

$main-blue-color: #3e4eb8;
$tab-content-gray-color: #edeff2;
