@import 'constants';

.chat {
  position: fixed;
  bottom: 0px;
  right: 2px;
  height: $chat-height;
  width: $chat-width;
  box-sizing: border-box;
  box-shadow: -1px 20px 20px #e1e3e6;
  background-color: #fff;
  color: $chat-gray-color;

  &__icon {
    height: 140 / 2160 * 100vh;
    text-align: center;
    color: $icon-gray-color;
    line-height: 140 / 2160 * 100vh;
    border-bottom: 2px solid $tab-content-gray-color;

    i {
      vertical-align: middle;
    }
  }

  &__recent-chat {
    text-align: center;

    &__wrapper {
      border: 8 / 2160 * 100vh solid #f3f5f8;
      height: 110 / 2160 * 100vh;
      width: 110 / 2160 * 100vh;
      border-radius: 50%;
      display: inline-block;
      line-height: 110 / 2160 * 100vh;
      margin-top: 50 / 2160 * 100vh;
      position: relative;
    }

    &__avatar {
      height: 110 / 2160 * 100vh;
      width: 110 / 2160 * 100vh;
    }

    &__check {
      background-color: #ff5722;
      border: 6 / 2160 * 100vh solid white;
      border-radius: 50%;
      display: inline-block;
      width: 30 / 2160 * 100vh;
      height: 30 / 2160 * 100vh;
      position: absolute;
      top: 0px;
      right: 0px;
    }

    &__label {
      margin-top: 20 / 2160 * 100vh;
      display: inline-block;
    }
  }

  &__footer {
    right: 2px;
    width: $chat-width;
  }
}
