@import 'constants';

.chat {
  position: fixed;
  bottom: 0px;
  right: 2px;
  height: $chat-height;
  width: $chat-width;
  box-sizing: border-box;
  box-shadow: -1px 20px 20px #e1e3e6;
  background-color: #fff;

  &__footer {
    right: 2px;
    width: $chat-width;
  }
}
