@import 'constants';

.content {
  width: $content-width;
  height: 100vh;
  display: inline-block;
  vertical-align: top;

  &__workspace {
    width: 100%;
  }
}

.content-header {
  width: 100%;
  padding-top: $header-padding-top;
  box-sizing: border-box;
  box-shadow: 1px 5px 10px #bbbdbf;

  &__header {
    color: #fff;
    margin: 0px 0px 0px 50px;
    display: inline-block;
  }

  &__icon {
    float: right;
    margin: 0px 50px 0px 0px;
    color: white;
  }

  &__tabs {
    height: 4.5vh;
  }

  &__tab {
    width: 230px;
  }
}
