@import 'constants';

.blue {
  color: #3e4eb8;
}

.yellow {
  color: #f5a623;
}

.active {
  background-color: #fafafc;
}

.side-menu {
  width: $side-menu-width;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-color: white;

  &__footer {
    left: 0px;
    width: 550 / 3200 * 100%;
  }
}

.side-header {
  width: 100%;
  position: relative;
  // padding-top: $side-menu-header-padding-top;
  // padding-left: $side-menu-header-padding-left;
  box-shadow: 1px -20px 20px #3b4aaf;
  z-index: 1;

  &__avatar {
    display: inline-block;
    margin-top: 60 / 2160 * 100vh;
    margin-left: 40 / 3200 * 100vw;

    &__wrapper {
      position: relative;
    }

    &__state {
      display: inline-block;
      width: 36 / 2160 * 100vh;
      height: 36 / 2160 * 100vh;
      background-color: #37d59c;
      border-radius: 50%;
      border: 6 / 2160 * 100vh solid $main-blue-color;
      position: absolute;
      bottom: 0.4rem;
      right: 0rem;
    }
  }

  &__buttons-block {
    float: right;
    margin-top: 100 / 2160 * 100vh;
    margin-right: 40 / 3200 * 100vw;
  }

  &__button {
    display: inline-block;
    color: white;
    margin-left: 50 / 3200 * 100vw;
    position: relative;
  }
}

.side-content {
  width: 100%;
  position: relative;
  box-shadow: 1px 20px 20px #e1e3e6;
  height: $side-menu-height;

  &__block {
    width: 100%;
    border-bottom: 1px solid #efeff1;
    padding-top: 65 / 2160 * 100vh;
    padding-left: 60 / 3200 * 100vw;
    padding-bottom: 65 / 2160 * 100vh;

    &:last-child {
      border: none;
    }

    &_header {
      position: relative;
      display: inline-block;
      top: -0.3rem;
      margin-left: 20 / 3200 * 100vw;
    }
  }
}
