@import './constants';

$padding-left: 300 / 3200 * 100vw;
$padding-top: 100 / 3200 * 100vh;
$padding-right: 340 / 3200 * 100vw;

.tasks-container {
  &__tabs {
    
  }

  &__tab {
    padding: $padding-top $padding-right 0 $padding-right;
    background-color: $tab-content-gray-color;
  }

  &__header {
    color: white;
    height: 4.5vh;
  }

  &__stresser {
    background-color: #5da6ff;
  }
}

.tab {
  padding-left: 20 / 3200 * 100vw;
  padding-right: 20 / 3200 * 100vw;

  &-header {
    height: 4.5vh;
  }

  &_default {
    color: #bdbfc1;
  }

  &_active {
    color: #5da6ff;
  }
}
